<div class="bottom-banner-content">
  <div class="authors">
    <a href="https://www.pixijs.com" target="_blank" class="pixi-logo">
      PixiJS Logo
    </a>
    <section>
      &copy; <?js= (new Date().getFullYear()) ?> PixiJS. All Rights Reserved.
    </section>
    <section>
      A labor of love by Rob Morris <a href="https://github.com/irongaze">@irongaze</a>,
      Shukant Pal <a href="https://twitter.com/shukantp">@ShukantP</a> and the
      <a href="https://github.com/orgs/pixijs/people">PixiJS team</a>.
    </section>
  </div>
</div>
