<?js const { explorerData } = obj; ?>

<div class="explorer-wrapper">
  <section>
    <h3>Guides</h3>
    <?js= this.partial("components/explorer/index.tmpl", { explorerData }) ?>
  </section>
</div>
