<?js const { explorerData } = obj; ?>

<div class="explorer-wrapper">
  <section>
    <h3>Guides</h3>
    <?js= this.partial("components/explorer/index.tmpl", { explorerData }) ?>
  </section>
  <section>
    <h3>Other Resources</h3>
    <div class="explorer">
      <ul role="tree" class="explorer__tree explorer__tree-open">
        <li class="explorer-tree__target">
          <div>
            <div>
              <a href="https://pixijs.io/docs">PixiJS API Documentation</a>
            </div>
          </div>
        </li>
        <li class="explorer-tree__target">
          <div>
            <div>
              <a href="https://www.github.com/pixijs/pixijs">PixiJS GitHub Repo</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
