<?js
    // This code was copied from @webdoc/default-template:tmpl/components/header/index.tmpl

    /** This component renders the header, and is only used in "plain" variants. */
    const { appBar, applicationName, explorerData } = obj;
?>

<div class="header__wrapper">
  <div class="header__container">
    <section class="explorer__header__title">
      <a href="https://www.pixijs.com" class="pixi-logo">
        <?js= applicationName ?>
      </a>
    </section>
    <div class="header__contents">
      <section class="header__contents-main">
        <?js Object.entries(appBar.items).forEach(([id, item]) => { ?>
          <?js if (item.kind === "divider") { ?>
            <section class="header__divider header__item-<?js= id ?>">
              <?js= item.content ?>
            </section>
          <?js } else { ?>
            <a
              class="header__link <?js if (appBar.current === id) { ?>header__link--current<?js } ?>"
              href="<?js= item.uri ?>"
            >
              <?js= item.name ?>
            </a>
          <?js } ?>
        <?js }); ?>
      </section>
    </div>
  </div>
</div>
