<footer>
  <div class="authors">
    <a href="http://www.goodboydigital.com" target="_blank" class="goodboy-logo"></a>
    <section>
      &copy; 2016 Goodboy Digital Ltd. All Rights Reserved
    </section>
    <section>
      A labour of love by Shukant Pal <a href="https://twitter.com/shukantp">@ShukantP</a> and the
      <a href="https://github.com/orgs/pixijs/people">PixiJS team</a>.
    </section>
  </div>
</footer>
