.explorer-tree__target > div > div:last-child {
  font-size: 0.875em !important;
  & > a {
    color: #666 !important;
  }
}

.explorer-tree__selected > div > div:last-child > a {
  color: var(--color-primary-text) !important;
}

.explorer-tree__parent > div > div:last-child {
  color: black !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.page-explorer {
  z-index: 1;
  width: 300px;
  flex-shrink: 0;
  width: 25%;
  max-width: 260px;
}

.explorer-wrapper > section > h3 {
  font-size: 21px;
  font-weight: 400;
}

.explorer ul {
  padding-left: 0px;
  list-style-type: none;
}

.explorer__tree ul {
  padding-left: 0px;
  max-height: 1000px;
  transition: max-height 500ms, opacity 500ms;
}

.explorer li {
  padding: 0;
}

.explorer-tree__target {
  margin: 4px 4px 4px 0;
}

.explorer-tree__parent {
  margin-left: -18px;
}

.explorer-tree__parent > ul {
  margin-left: 18px;
}

.explorer-tree__target > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 24px;
}

.explorer-tree__target > div > div {
  align-items: center;
  display: flex;
}

.explorer-tree__target > div > div > svg {
  height: 18px;
  width: 18px;
}

.explorer-tree__target a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.explorer-tree__target a:link {
  color: var(--color-text-secondary);
}

.explorer__tree input {
  cursor: pointer;
  height: 18px;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 18px;
}

.explorer-tree__target input:not(:checked) + div + ul {
  opacity: 0;
  max-height: 0;
}
