.explorer-tree__target {
  margin: 4px 4px 4px 0;
  a {
    font-size: 0.875em;
    color: var(--color-secondary-text);
    text-decoration: none;
    &:hover,
    &.selected {
      color: var(--color-primary-text);
    }
  }
  & > div {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 24px;
    & > div {
      align-items: center;
      display: flex;
    }
  }
}

.explorer-tree__parent {
  position: relative;
  .MuiSvgIcon-root {
    height: 18px;
    width: 18px;
    transition: transform 0.3s;
    transform: rotate(90deg);
    pointer-events: none;
  }
  input {
    cursor: pointer;
    height: 24px;
    margin: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
    &:hover + div > div {
      color: var(--color-primary-text)  !important;
      .MuiSvgIcon-root {
        fill: var(--color-primary-text)  !important; 
      }
    }
    &:not(:checked) {
      & + div + ul {
        opacity: 0;
        max-height: 0;
      }
      & + div .MuiSvgIcon-root {
        transform: rotate(0deg);
      }
    }
  }
}

.explorer-tree__parent {
  margin-left: -18px;
  & > ul {
    margin-left: 18px;
  }
  & > div > div:last-child {
    color: black !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.04rem;
  }
}

.page-explorer {
  z-index: 1;
  width: 300px;
  flex-shrink: 0;
  width: 25%;
  max-width: 260px;
}

.explorer-wrapper > section > h3 {
  font-size: 21px;
  font-weight: 400;
}

.explorer {
  ul {
    padding-left: 0px;
    list-style-type: none;
    li {
      padding: 0;
    }
  }
}

.explorer__tree {
  ul {
    padding-left: 0px;
    max-height: 1000px;
    transition: max-height 0.3s, opacity 0.3s;
    position: relative;
  }
}
