.header-content-container__content {
  background: #ecedf1 url(./images/faq-tile.png) 0 0 repeat;
}

.pixi-logo {
  background-image: url(./images/pixijs-logo.svg);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  background-size: 82px 29px;
  height: 29px;
  width: 82px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header__container {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.explorer__header__title {
  margin: 0;
  margin-left: 32px;
}

.header {
  background-color: white;
  height: 50px;
  min-height: 50px;
}

.header__contents {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
  margin-right: 32px;
}

.header__contents-main, .header__contents-mobile {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__link {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 0.875em;
  font-weight: 500;
  height: 100%;
  text-decoration: none;
  transition: color .25s cubic-bezier(.215,.61,.355,1);
  white-space: nowrap;
  &:hover {
      text-decoration: none;
      color: var(--color-primary);
  }
  &:last-child {
    background: url(./images/open-collective.png) no-repeat left center;
    padding-left: 30px;
    text-transform: uppercase;
  }
  &:first-child {
    border-bottom: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
  }
}

.header__contents-main {
  display: none;
}

.header__contents-mobile-container {
  display: flex;
  flex-direction: column;
}

.header__contents-mobile {
  min-height: 50px;
  height: 50px;
  justify-content: flex-end;
}

.header-toggle {
  cursor: pointer;
  height: 50px;
  opacity: 0;
  position: absolute;
  right: 0;
  width: 44px;
  z-index: 2;
}

.hamburger {
  height: fit-content;
  margin-right: 11px;
  & > * {
    background: var(--color-primary-text);
    display: block;
    height: 2px;
    margin: 6px 0 6px 0;
    transition: transform .3s;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: center;
    width: 22px;
  }
}

.hamburger-menu {
  background-color: #edeef0;
  display: none;
  flex-direction: column;
  padding-left: 8px;
  transform: translateY(-100%) translateY(-50px);
  &> h2 {
    font-weight: 500;
    margin-bottom: 0;
  }
  
  & > .explorer-wrapper {
    margin-left: 18px;
    padding-bottom: 36px;
  }
  
  & > * {
      background-color: #edeef0;
      font-weight: 400;
      height: 48px;
      padding: 0 10px;
  }
}

.header-toggle {
  display: none;
}

.hamburger-menu {
  display: none;
}

.header {
  min-height: 62px;
  height: 62px;
}

.header__contents {
  justify-content: flex-end;
}

.header__contents-main {
  display: flex;
  gap: 32px;
}

.header__contents-mobile {
  display: none;
}
