.header-content-container__content {
  background: #ecedf1 url(./images/faq-tile.png) 0 0 repeat;
}

.pixi-logo {
  background-image: url(./images/pixijs-logo.svg);
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -9999em;
  background-size: 82px 29px;
  height: 29px;
  width: 82px;
  margin-right: 20px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  height: 62px;
  z-index: 1000;
  background: white;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 35%);
}

.header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  z-index: 1;
  max-width: 1156px;
  margin: 0 auto;
}

.explorer__header__title {
  margin: 0;
  margin-left: 32px;
}

.header {
  background-color: white;
  height: 50px;
  min-height: 50px;
}

.header__contents {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-end;
  margin-right: 32px;
}

.header__contents-main, .header__contents-mobile {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header__link {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 0.875em;
  font-weight: 500;
  height: 100%;
  text-decoration: none;
  transition: color .25s cubic-bezier(.215,.61,.355,1);
  white-space: nowrap;
  &:hover {
      text-decoration: none;
      color: var(--color-primary);
  }
  &:last-child {
    background: url(./images/open-collective.png) no-repeat left center;
    padding-left: 30px;
    text-transform: uppercase;
  }
  &:first-child {
    border-bottom: 2px solid var(--color-primary-text);
    color: var(--color-primary-text);
  }
}

.header__contents-main {
  display: none;
}

.header {
  min-height: 62px;
  height: 62px;
}

.header__contents {
  justify-content: flex-end;
}

.header__contents-main {
  display: flex;
  gap: 32px;
}
