@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --color-primary: #e91e63;
    --color-primary-light: #f06493;
    --color-primary-text: #e91e63;
    --color-secondary-text: #666;
    --color-background: #272d37;

    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

@import 'header';
@import 'md';
@import 'layout';
@import 'explorer';
@import 'nav';
@import 'bottom-banner';
