.serial-navigation {
    color: var(--color-secondary-text);
    display: flex;
    flex-direction: row;
    margin: 24px auto 0;
    & > hr {
        border: 0;
        border-left: 1px solid var(--color-secondary-text);
        height: 61px;
        margin: 0 28px;
    }
    align-items: center;
    justify-content: flex-start;
    display: flex;
    &.only-next {
        justify-content: flex-end;
    }
}

.serial-navigation-button {
    display: flex;
    flex-direction: column;
    transition: 300ms color;
    cursor: pointer;
    color: var(--color-secondary-text);
    text-decoration: none;
    width: 50%;
    &:hover {
        color: var(--color-primary-text);
        text-decoration: none;
    }
    &.previous {
        align-items: flex-end;
    }
    & > .arrow {
        stroke: currentColor;
        stroke-width: 2px;
        width: 27px;
        height: 14px;
        display: block;
        margin-bottom: 16px;
    }
    & > .label {
      margin-bottom: 6px;
      font-size: 11px;
      letter-spacing: 0.04rem;
      text-transform: uppercase;
      display: block;
    }
}