footer {
    background-color: #272d37;
    color: #919bac;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 70px 0 30px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: #919bac;
}

.authors > * {
    margin: 20px;
}

.goodboy-logo {
    background: url(https://www.pixijs.com/img/logo-goodboy-new.png);
    background-size: 148px 33px;
    display: block;
    height: 33px;
    width: 148px;
}

@media only screen and (min-width: 1014px) {
    footer {
        margin-left: 40px;
        max-width: min(800px, 100%);
    }
}
