.page {
    min-width: 768px;
}
.header-content-container__content {
    padding: 32px;
    gap: 32px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.page-content {
    max-width: 800px;
}
