.serial-navigation {
    align-self: center;
    color: var(--color-secondary-text);
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    padding-bottom: 16px;
    max-width: min(800px, 100%);
}

.serial-navigation--only-next {
  width: 100%;
}

@media only screen and (max-width: 1014px) {
  .serial-navigation {
    margin-left: 40px;
  }

  .serial-navigation--only-previous {
    justify-content: flex-end;
    width: 100%;
  }
}

@media only screen and (min-width: 1014px) {
  .serial-navigation {
    align-self: auto;
    width: 100%;
  }
}

.serial-navigation > a {
    cursor: pointer;
    color: var(--color-secondary-text);
    text-decoration: none;
}

.serial-navigation > a:hover {
    text-decoration: none;
}

.serial-navigation__previous:hover {
    color: var(--color-primary-text);
}

.serial-navigation__next:hover {
    color: var(--color-primary-text);
}

.serial-navigation > hr {
    border: 1px solid var(--color-secondary-text);
    height: 61px;
    margin: 0 28px;
}

.serial-navigation-arrow {
    stroke: currentColor;
    stroke-width: 2px;
    width: 27px;
    height: 14px;
}

.serial-navigation > *:first-child {
    margin-bottom: 6px;
}

.serial-navigation__previous {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  transition: 300ms color;
}

.serial-navigation__previous > section:last-child {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.serial-navigation__previous > section:last-child > *:first-child {
  margin-bottom: 6px;
}

.serial-navigation__previous svg {
    margin-right: 14px;
}

.serial-navigation__next {
    display: block;
    transition: 300ms color;
}

.serial-navigation__next > section:first-child {
    align-items: flex-start;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 6px;
}

.serial-navigation__next > section:first-child > *:last-child {
  margin-bottom: 6px;
}

.serial-navigation__next svg {
    margin-left: 14px;
}

@media only screen and (min-width: 1014px) {
    .serial-navigation {
      margin-left: 40px;
    }

    .serial-navigation > hr {
        height: 41px;
    }

    .serial-navigation__previous {
        align-items: flex-start;
        flex-direction: row;
    }

    .serial-navigation__previous > section:last-child {
        align-items: flex-start;
    }

    .serial-navigation__next > section:first-child {
      align-items: center;
      flex-direction: row;
    }
}
